*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

header{
    width: 100%;
    height: 70px;
    background-color: #deb887;
    color: white;
}

nav{
    display: flex;
    justify-content: space-around;
    line-height: 70px;
    font-size: 20px;
    font-weight: 500;
}

nav ul{
    display: flex;
    list-style: none;
    gap: 50px;
}

section img{
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 600px;
    width: 100%;
    
    
}


form{
    width: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: rgb(206, 206, 206);
    border-radius: 10px;
    padding: 10px;
    margin: 0 auto;

}
input{
    outline: none;
    background-color: rgb(206, 206, 206);
    border: none;
    border-bottom: solid 1px #deb887;
    width: 400px;
    height: 30px;
    margin-bottom: 10px;
}

.input{
    background-color: #deb887;
}
textarea{
    width: 400px;
    height: 100px;
}


